<!DOCTYPE html>
<html>
<head>
	<!-- 
	<script src="less.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css"> 
	-->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="wrapper">
			<img src="gfx/logo.png">
			<span style="color: blue; font-size: 14pt">Rattle</span>
			<form>
				<label> Email: </label>
				<input name="email" type="text">
				<label> Password: </label>
				<input name="password" type="password">
				<input type="submit" value="Login">
			</form>
		</div>
	</header>
	<div id="content">
		<div class="wrapper">
			<img src="gfx/frog.jpg" HEIGHT="400" WIDTH="500" BORDER="0">
			<div class="panel right">
				<h1><b>New to Rattle?</b></h1>
				<p>
					<form>
						<label> Email: </label> <br/>
						<input name="email" type="text">
						<label> Password: </label> <br/>
						<input name="password" type="text"> <br/>
						<label> Confirm Password: </label> <br/>
						<input name="password2" type="password"> 
						<input type="submit" value="Create Account">
					</form>
				</p>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			Rattle - A Twitter Clone<img src="gfx/logo-nettuts.png">
		</div>
	</footer>
</body>
</html>
