{% extends "base.html" %}
 
{% block content %}
    <div class="panel right2">
        <h1>Create a Rattle</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in rattle_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Rattle!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Public Rattles</h1>
        {% for rattle in rattles %}
        <div class="rattleWrapper">
            <img class="avatar" src="{{ rattle.user.profile.gravatar_url }}">
            <span class="name">{{ rattle.user.first_name }}</span>@{{ rattle.user.username }}
            <span class="time">{{ rattle.creation_date|timesince }}</span>
            <p>{{ rattle.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}