{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
 
{% block content %}
    <div class="panel left">
        <h1>{{ user.first_name }}'s Profile</h1>
        <div class="rattleWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ user.first_name }}</span>
            </a>
                @{{ user.username }}
            <p>
                {{ rattles.count }} Rattles
                <span class="spacing">{{ user.profile.follows.all.count }} Following</span>
                <span class="spacing">{{ user.profile.followed_by.all.count }} Followers</span>
            </p>
            {% if follow %}
            <form action="/follow" method="post">
                {% csrf_token %}
                <input type="hidden" name="follow" value="{{ user.id }}">
                <input type="submit" value="Follow">
            </form>
            {% endif %}
        </div>
    </div>
    <div class="panel right2">
        <h1>Create a Rattle</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in rattle_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Rattle!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>{{ user.first_name }}'s Rattles</h1>
        {% for rattle in rattles %}
        <div class="rattleWrapper">
            <a href="/users/{{ user.username }}">
                <img class="avatar" src="{{ user.profile.gravatar_url }}">
                <span class="name">{{ rattle.user.first_name }}</span>
            </a>
            @{{ rattle.user.username }}
            <span class="time">{{ rattle.creation_date|timesince }}</span>
            <p>{{ rattle.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}